.search-feature{

	&__title {
		font-weight: $font-weight-bold;
		font-size: 2.4rem;
		@include mq(sp) {
			font-size: 2rem;
		}
		>.lang-china {
			display: block;
			margin-top: 5px;
			font-size: 1.8rem;
			@include mq(sp) {
				font-size: 1.4rem;
			}
		}
	}
}
