.content-detail {
	&__title {
		color: $main-color;
		font-weight: $font-weight-bold;
		font-size: 3rem;
		span {
			font-weight: normal;
			font-size: 1.6rem;
		}
	}
	&__container {
		margin-top: 20px;
	}
	&__item {
		&--text {
@include lhCrop(1.5);

@include mq(sp) {
				margin-top: 20px;
				font-size: 1.2rem;
			}

			margin-top: 50px;
			line-height: 1.5;
			word-wrap: break-word;
		}
	}

	&__share {
@include mq(sp) {
			margin-top: 20px;
		}

		margin-top: 45px;
		padding: 20px 0;
		border: 1px solid $gray;
		border-radius: 5px;

		&--title {
			text-align: center;
		}

		ul {
			display: flex;
			justify-content: center;
			margin-top: 10px;
		}
		li {
			width: 30px;
			height: 30px;
			cursor: pointer;
			transition: all $transition-change-time ease 0s;
			&:not(:first-child) {
				margin-left: 20px;
			}
			img {
				width: 100%;
			}
			&:hover {
				opacity: $hover-opacity;
			}
		}
	}
}
