.school-base {

	&__top {
        &--list{
            width: 50%;
            margin: 0 auto;
            @include mq(sp) {
                width: 100%;
            }
            // slickドット位置
            .slick-dots{
                bottom: -40px;
                @include mq(sp) {
                    bottom: -30px;
                }
            }

            li{
                &.slick-slide{
                    height: 300px;
                    img{
                        object-fit: cover;
                        object-position: center;
                        height: inherit;
                    }
                }
                // slickドット
                button{
                    &:before{
                        font-size: 2rem;
                        @include mq(sp) {
                            font-size: 1.5rem;
                        }
                    }
                }
                // slickドット：アクティブ
                &.slick-active{
                    button{
                        &:before{
                            color: $sub-color;
                        }
                    }
                }
            }
        }
	}

    &__item{
        margin-top: 50px;
        &--title{
            &::before{
                content: '\f075';
            }
        }
        &--content{
            margin-top: 20px;
            padding: 30px;
            border: 1px solid $gray-d7;
            border-radius: 5px;
            line-height: 1.5;
            @include lhCrop(1.5);
            @include mq(sp) {
                font-size: 1.2rem;
                padding: 20px;
            }
        }
    }
}
