// -----------------------------------------------------------------------------
// 共通系（便利系）
// -----------------------------------------------------------------------------

// ------------------------------------------------------------
// 外国語
// ------------------------------------------------------------
.lang-china{
	&-han{
		// 繁体字に簡体字と同一フォントに
		font-family: $font-family-chinese-kan;
		font-size: 1.2rem;
		@include mq(sp) {
			font-size: 1rem;
		}
	}
	&-kan{
		font-family: $font-family-chinese-kan;
		font-size: 1.2rem;
		@include mq(sp) {
			font-size: 1rem;
		}
	}	
}

// ------------------------------------------------------------
// インナー
// width：固定値
// max-width：100% → 縮めたときには100%表示
// ------------------------------------------------------------
.inner {
	// width: ($layout-width-inner-pc / $layout-width-canvas-pc) * 100% ;
	width: $layout-width-inner-pc;
	max-width: 100%;
	height: inherit;// 高さは親を継承
	margin: 0 auto;
	padding: 0 10px;

	// ナロー
	&.narrow{
		width: $layout-width-inner-narrow-pc;
		@include mq(sp) {
			width: $layout-width-inner-narrow-sp;
		}
	}

	@include mq(sp) {
		width: $layout-width-inner-sp;
	}
}

// ------------------------------------------------------------
// ページタイトル
// ------------------------------------------------------------
.page-title{
	font-size: 3.6rem;
	color: $main-color;
	border-bottom: 3px solid $main-color;
	// padding-bottom: 25px;
	>.lang-china{
		font-size: 1.4rem;
	}

	@include mq(sp) {
		border-bottom: 2px solid $main-color;
	}
}

// ------------------------------------------------------------
// セクションタイトル
// ------------------------------------------------------------
.section-title {
	
	font-weight: $font-weight-bold;
	font-size: 2.4rem;
	>.lang-china{
		font-size: 1.8rem;
		margin-left: 30px;
	}
	position: relative;
	padding-left: 40px;
	
	&::before{
		color: $sub-color;
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		font-family: $font-family-fonwawesome;
	}
	@include mq(sp) {
		font-size: 2rem;
		span{
			font-size: 1.4rem;
		}
	}
}


// ------------------------------------------------------------
// 表示制御（表示）
// ------------------------------------------------------------
// PCだけ表示
.display-only-pc {
	@include mq(sp) {
		display: none;
	}
	@include mq(tab-only) {
		display: none;
	}
}

// スマホだけ表示
.display-only-sp {
	@include mq(pc) {
		display: none;
	}
	@include mq(tab-only) {
		display: none;
	}
}

// ------------------------------------------------------------
// 表示制御（非表示）
// ------------------------------------------------------------

// PCだけ非表示
.hidden-pc {
	@include mq(pc) {
		display: none;
	}
}

// スマホだけ非表示
.hidden-sp {
	@include mq(sp) {
		display: none;
	}
}


// ------------------------------------------------------------
// util
// ------------------------------------------------------------
$util-link-width-pc: 180px;
$util-link-height-pc: 60px;
$util-link-width-sp: $util-link-width-pc;
$util-link-height-sp: $util-link-height-pc;
$util-link-border-size: 3px;
.util {
	// 共通リンクボタン
	&-link {
		cursor: pointer;
		width: $util-link-width-pc;
		height: $util-link-height-pc;
		font-weight: $font-weight-bold;
		text-align: center;
		
		@include mq(sp) {
			width: $util-link-width-sp;
			height: $util-link-height-sp;
		}

		a,div {
			display: inline-block;
			width: 100%;
			height: 100%;
			border-width: $util-link-border-size;
			border-style: solid;
			border-color: $black;
			background: $black;
			border-radius: 5px;
			color: $white;
			transition: all $transition-change-time ease 0s;
			&:hover {
				border-color: $black;
				background: $white;
				color: $black;
			}
			>.lang-china{
				font-size: 1rem;
			}

		}
		// 濃い青
		&.dark-blue{
			a,div{
				background-color: $main-color;
				border-color: $main-color;
				&:hover{
					background-color: $white;
					color: $main-color;
				}
			}
		}
		// オレンジ
		&.orange{
			a,div{
				background-color: $sub-color;
				border-color: $sub-color;
				&:hover{
					background-color: $white;
					color: $sub-color;
				}
			}
		}
		// 白
		&.white{
			a,div{
				background-color: $white;
				border-color: $main-color;
				color: $main-color;
				&:hover{
					background-color: $main-color;
					color: $white;
				}
			}
		}
	}
}

// ------------------------------------------------------------
// 検索ボタン
// ------------------------------------------------------------
.search-button {
	width: 300px;
	height: 50px;
	line-height: getLineHeightForBox(50px, $util-link-border-size);
	border: none;
	border-radius: 5px;
	background-color: $main-color;
	color: $white;
	font-size: 1.6rem;
	font-weight: $font-weight-bold;
	cursor: pointer;
	transition: all $transition-change-time ease 0s;
	@include mq(sp) {
		width: 100%;
		height: 50px;
	}
	>.lang-china{
		font-size: 1.2rem;
	}
	&:hover {
		opacity: $hover-opacity;
	}
}


// ------------------------------------------------------------
// paddingクラス
// ------------------------------------------------------------
.p {
	&t{
		&-20{
			padding-top: 20px;
			@include mq(sp) {
				padding-top: 10px;
			}
		}
		&-40{
			padding-top: 40px;
			@include mq(sp) {
				padding-top: 20px;
			}
		}
		&-50{
			padding-top: 50px;
			@include mq(sp) {
				padding-top: 25px;
			}
		}		
		&-60{
			padding-top: 60px;
			@include mq(sp) {
				padding-top: 30px;
			}
		}
	}
	&b{
		&-40{
			padding-bottom: 40px;
			@include mq(sp) {
				padding-bottom: 20px;
			}
		}
		&-60{
			padding-bottom: 60px;
			@include mq(sp) {
				padding-bottom: 30px;
			}
		}
		&-120{
			padding-bottom: 120px;
			@include mq(sp) {
				padding-bottom: 60px;
			}
		}
	}
}
// ------------------------------------------------------------
// container
// ------------------------------------------------------------
.container {
	// 
}


// ------------------------------------------------------------
// flex-container （メインとサイドバーをラップ）
// ------------------------------------------------------------
.flex-container {
	display: flex;
	justify-content: space-between;

	@include mq(sp) {
		display: block;
	}
}


$sidebar-width-pc: 300px;
$sidebar-width-narrow-pc: 230px;
$sidebar-width-sp: 100px;

$container-margin-width-pc: 60px;
$container-margin-width-narrow-pc: 40px;

// ------------------------------------------------------------
// main
// ------------------------------------------------------------
.main {
	width: getMinus100Percent($sidebar-width-pc + $container-margin-width-pc );

	// ナロー
	&.narrow{
		width: getMinus100Percent($sidebar-width-narrow-pc + $container-margin-width-narrow-pc );
		@include mq(sp) {
			width: 100%;
		}
	}

	// サイドバーなしワンカラム
	&.one-column{
		width: 100%;
	}

	@include mq(sp) {
		width: 100%;
	}
}

// ------------------------------------------------------------
// aside
// ------------------------------------------------------------
.aside {
	width: $sidebar-width-pc;

	// ナロー
	&.narrow{
		width: $sidebar-width-narrow-pc;
		@include mq(sp) {
			display: none;
		}
	}

	@include mq(sp) {
		width: 100%;
		margin-top: 30px;
	}
}
